extends ./common/layout.pug

block title
  title Trans Mental Health Survey

block content
  div#container
    h1 Trans Mental Health Survey
    p.
      Thank you for subscribing! We'll keep you updated about the upcoming
      Trans Mental Health Survey.
