@import "node_modules/susy/sass/susy";

// Layout.
// The wide layout primarily targets desktop,
// The narrow layout primarily targets mobile.
$wideLayout: (
  columns: 6,
  gutters: .25,
  gutter-position: inside
);

$narrowLayout: (
  columns: 1,
  gutters: .25,
  gutter-position: inside
);

// Colors.
$primary-color: #ffffff;
$secondary-color: #37c0ec;
$background-color: #242021;
$darker-primary-color: darken($primary-color, 5%);

// Dimensions
$header-height: 100px;
$vertical-spacer: 20px;
$horizontal-spacer: 20px;
$menu-width: 250px;

//Media queries.
$wide: 620px;
$narrow: max-width 620px;
